* {
    margin: 0;
    padding: 0;
}

ul, li {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

.board_wrap {
    width: 1000px;
    margin: 100px auto;
}

.board_title {
    margin-bottom: 30px;
}

.board_title strong {
    font-size: 3rem;
}

.board_title p {
    margin-top: 5px;
    font-size: 1rem;
}

.bt_wrap {
    margin-top: 30px;
    text-align: center;
    font-size: 0;
}

.bt_wrap a {
    display: inline-block;
    min-width: 80px;
    margin-left: 10px;
    padding: 10px;
    border: 1px solid #000;
    border-radius: 2px;
    font-size: 1.2rem;
}

.bt_wrap a:first-child {
    margin-left: 0;
}

.bt_wrap a.on {
    background: #000;
    color: #fff;
}

.board_list {
    width: 100%;
    border-top: 2px solid #000;
}

.board_list > div {
    border-bottom: 1px solid #ddd;
    font-size: 0;
}

.board_list > div.top {
    padding-top: 10px;
    border-bottom: 1px solid #999;
}

.board_list > div:last-child {
    border-bottom: 1px solid #000;
}

.board_list > div > div {
    display: inline-block;
    padding: 15px 0;
    text-align: center;
    font-size: 1rem;
}

.board_list > div.top > div {
    font-weight: 600;
}

.board_list .id {
    width: 30%;
}

.board_list .name {
    width: 30%;
}

.board_list .date {
    width: 30%;
}

.board_list .kick {
    width: 10%;
    height: 30px;
}

.board_list .kick button {
    width: 90%;
    height: 100%;
    border-radius: 10px;
    background-color: #8CB964;
    border: 1px solid #8CB964;
    color: #fff;
}

.board_page {
    margin-top: 30px;
    text-align: center;
    font-size: 0;
}

.board_page a {
    display: inline-block;
    width: 32px;
    height: 32px;
    box-sizing: border-box;
    vertical-align: middle;
    border: 1px solid #ddd;
    border-left: 0;
    line-height: 32px;
}

.board_page a.bt {
    font-size: 1.2rem;
    letter-spacing: -1px;
}

.board_page a.num {
    font-size: 1rem;
}

.board_page a.num.on {
    border-color: #8CB964;
    background: #8CB964;
    color: #fff;
}

.board_page a:first-child {
    border-left: 1px solid #ddd;
}